{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<body>
    <main class="container py-5 text-center">
        <h1>Login</h1>
        {% if msg %}
        <h3>{{ msg }}</h3>
        {% endif %}
        <br>
        <form action="/login" method="post">
            <div class="mb-3">
                <input type="text" class="form-control mx-auto w-auto" name="username" id="username"
                    placeholder="Username" autofocus autocomplete="off">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control mx-auto w-auto" name="password" id="password"
                    placeholder="Password"> <br>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <p>Or <a href="/register" class="link-primary">Register</a> instead.</p>
    </main>
</body>

{% endblock %}