{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}

<body>
    <main class="container py-5 text-center">
        <h1>Register</h1>
        {% if msg %}
        <h3>{{ msg }}</h3>
        {% endif %}
        <br>
        <form action="/register" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="text" class="form-control mx-auto w-auto" name="username" id="username"
                    placeholder="Username" autofocus autocomplete="off" autocapitalize="off">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control mx-auto w-auto" name="name" id="name" placeholder="Full Name"
                    autocomplete="off" autocapitalize="words">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control mx-auto w-auto" name="email" id="email" placeholder="Email"
                    autocomplete="off" autocapitalize="off">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control mx-auto w-auto" name="password" id="password"
                    placeholder="Password" autocomplete="off">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control mx-auto w-auto" name="confirm" id="confirm"
                    placeholder="Confirm Password" autocomplete="off">
            </div>
            <div class="mb-3">
                <input type="file" class="form-control mx-auto w-auto" name="photo" id="photo"> <br>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </main>
</body>

{% endblock %}